# Занятие 1
- типы данных
- операции
- приведение типов
- условный оператор <br>
$\int\limits_0^1$

A - создание ячейки сверху <br>
B - создание ячейки снизу <br>
dd - удаление ячейки <br>
shift+enter - Запуск кода в ячейке и переход на следующую <br>
ctrl + enter - запуск кода в ячейке <br>
shift + tab - посмотреть документацию метода

### Целочисленный тип

In [4]:
1

1

In [3]:
type(1)

int

In [5]:
1 + 2

3

In [6]:
2 - 1

1

In [7]:
4 * 2

8

In [8]:
4 / 8

0.5

In [9]:
4 // 8

0

In [10]:
4 % 3

1

In [11]:
4 > 5

False

In [12]:
8 > -1

True

In [13]:
2 ** 5 #2^5

32

## Float

In [14]:
1.3

1.3

In [15]:
type(1.3)

float

In [16]:
1.3 + 2.5

3.8

In [17]:
3.5 - 6.4

-2.9000000000000004

In [18]:
4. * 2.

8.0

In [19]:
3.5/ 1.7

2.058823529411765

In [20]:
3.5//1.7

2.0

In [21]:
3.3 % 1.3

0.6999999999999997

In [23]:
2.3 ** (-2.)

0.18903591682419663

In [24]:
.34

0.34

In [26]:
1/3

0.3333333333333333

In [32]:
type(1/3)

float

In [29]:
0.333333333333333333333333333333333333

0.3333333333333333

In [31]:
0.333333333333333333333333333333333333 ==  1/3

True

In [33]:
round(1/3, 3)

0.333

In [34]:
round(1/3, 0) # результат float

0.0

# boolean

In [35]:
True

True

In [36]:
False

False

In [37]:
type(True)

bool

In [38]:
1 > 2

False

In [39]:
3 < 4

True

In [40]:
3 <= 5

True

In [41]:
6 >= 7

False

### and & or

In [42]:
6 >= 4 and 6 <= 8

True

In [43]:
6 >= 4 and 6 > 8

False

In [44]:
6 >= 4 or 6 > 8

True

# String(str)

In [45]:
"text"

'text'

In [46]:
type("text")

str

In [47]:
"x1" + "y1"

'x1y1'

In [48]:
"x1" - "y1"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [50]:
type(None)

NoneType

# print

In [ ]:
print()

In [51]:
1 + 2
3 + 4

7

In [55]:
1+2
3+5

8

In [54]:
print(1 + 2)
print(3 + 5)

3
8

In [56]:
print(1+3, 4+5, 6+7)

4 9 13

In [57]:
print(1/2, True, 1>2, 3.4**3)

0.5 True False 39.303999999999995

In [58]:
print("Name:", "Artem")

Name: Artem

In [60]:
print("Name: " + "Artem")

Name: Artem

In [61]:
print("Age:", 28)

Age: 28

In [70]:
print("Age: " + str(28))

Age: 28

# Приведение типов

In [67]:
"Age: " + str(28)

'Age: 28'

In [65]:
type(str(28))

str

In [71]:
str(True)

'True'

In [72]:
str(None)

'None'

In [73]:
str(1.3)

'1.3'

In [74]:
str(1/3)

'0.3333333333333333'

In [75]:
str(type("1"))

"<class 'str'>"

In [76]:
type("1")

str

In [77]:
int("1")

1

In [78]:
type(int("1"))

int

In [79]:
int("1 1")

ValueError: invalid literal for int() with base 10: '1 1'

In [81]:
int("-23")

-23

In [82]:
int("23", base=2)

ValueError: invalid literal for int() with base 2: '23'

In [83]:
int("23", 2)

ValueError: invalid literal for int() with base 2: '23'

In [85]:
int("15", 2)

ValueError: invalid literal for int() with base 2: '15'

In [90]:
int("1000000", 2)

64

In [91]:
int(2.3)

2

In [92]:
int(2.99)

2

In [93]:
2.99//1

2.0

In [94]:
int(-0.99)

0

In [95]:
-0.99//1

-1.0

In [96]:
float("3.4")

3.4

In [97]:
type(float("3.4"))

float

In [98]:
float(".3")

0.3

In [99]:
float("0.3 3")

ValueError: could not convert string to float: '0.3 3'

# Условный оператор if

if условие: <br>
    код который выполняется, если будет выполнено условие т.е. результат условия - True <br>
else: <br>
    код который будет выполнен если условие ложно

In [100]:
2 > 3

False

In [101]:
if True:
    print("Condition is True.")

Condition is True.

In [102]:
if False:
    print("You will never see me.")

In [104]:
if 4**5 > 5**4: #1025 > 625
    print("4**5 > 5**4")
else:
    print("4**5 <= 5**4")

4**5 > 5**4

# Переменные

In [105]:
a = 1

In [106]:
1

1

In [107]:
a

1

In [108]:
print(a)

1

In [109]:
type(a)

int

In [110]:
b = 1.3

In [111]:
type(b)

float

In [112]:
c = True

In [113]:
type(c)

bool

In [114]:
d = "str"

In [115]:
type(d)

str

In [122]:
a = 2
b = 2
if a**b > b**a:
    print(str(a)+"**"+str(b) + " > " +str(b) + "**" + str(a))
else:
    print(str(a)+"**"+str(b) + " <= " +str(b) + "**" + str(a))

2**2 <= 2**2

In [124]:
value = input()

4

In [125]:
print(value)

4

In [126]:
type(value)

str

In [127]:
a = int(input()) 
b = int(input())
if a**b > b**a:
    print(str(a)+"**"+str(b) + " > " +str(b) + "**" + str(a))
else:
    print(str(a)+"**"+str(b) + " <= " +str(b) + "**" + str(a))

2
3
2**3 <= 3**2

In [154]:
p = int(input())
if p % 2 == 0:
    print("Число " + str(p) + " чётное.")
else:
    print("Число " + str(p) + " нечётное.")

3
Число 3 нечётное.